<%= form_for(@project) do |f| %>
  <% if @project.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@project.errors.count, "error") %> prohibited this project from being saved:</h2>

      <ul>
      <% @project.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>

    New Task:
    <%= f.fields_for :tasks, @project.tasks.new do |task_form| %>
      <div class="field">
        <%= task_form.label :name %><br>
        <%= task_form.text_field :name %>
      </div>
      <div class="field">
        <%= task_form.label :description %><br>
        <%= task_form.text_area :description %>
      </div>
      <div class="field">
        <%= task_form.label :status %><br>
        <%= task_form.select :status, [["Unstarted", "unstarted"],["Started", "started"],["Finished", "finished"]] %>
      </div>
    <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>

<% end %>
